@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
  }

  /* ROOT */

  :root {
    /* colors */
    --colorPrimary: red;
    --colorSecondary: red;
    /* backrgrunds */
    --backgroundPrimary: #FFFFFF;
    --backgroundSecondary: #DDDDDD;
    /* btn colors */
    --btnColor: #FFF;
    --btnHover: red;
    --btnDisabled: red;
    /* fonts */
    --font-family: 'Roboto', serif;
    --font-weightPrimary: 700;
    --font-weightSecondary: 400;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: var(--font-weightPrimary);
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

/* UNIVERSAL CODES START */
h2.intro-heading {
    color: #000;
    font-family: var(--font-family);
    font-size: 50px;
    font-weight: var(--font-weightPrimary);
    line-height: 120%
}

p.description {
    color: #777;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: var(--font-weightSecondary);
    line-height: 150%;
    border-left: 2px solid #888;
    padding-left: 40px;
    margin: 30px 0;
}

button.main {
    color: #FFF;
    text-align: center;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: var(--font-weightPrimary);
    line-height: 150%;
    text-transform: uppercase;
    border: none;
    background: #EA625C;
    padding: 12px;
    width: 260px;
}

h3.feature-heading {
    color: #222;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: var(--font-weightPrimary);
    line-height: 150%; 
    text-transform: uppercase;
}

p.feature-text{
    color: #333;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: var(--font-weightSecondary);
    line-height: 160%;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* UNIVERSAL CODES END */

/* HEADER STYLES START */
.site-header {
    padding: 30px 0 80px 0;
}

.site-header .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header .site-header__wrapper .site-header___navbar ul {
    display: flex;
    align-items: center;
}

.site-header .site-header__wrapper .site-header___navbar ul li {
    margin: 15px;
}

.site-header .site-header__wrapper .site-header___navbar ul li a {
    color: #333;
    text-align: center;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: var(--font-weightSecondary);
    line-height: 150%;
}

.site-header .site-header__wrapper .site-header___navbar .request-input input{
    width: 149px;
    margin-left: 40px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    padding: 3px 0;

}

.site-header .site-header__wrapper .site-header___navbar .request-input input::placeholder {
    color: #666;
    text-align: center;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: var(--font-weightSecondary);
    line-height: 150%; 
}
/* HEADER STYLES END */

/* MAIN STYLES START */
.site-main {
    padding-top: 170px;
    height: 100vh;
    background-image: url(../images/apple-watch-bg.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 520px) 70px;
    background-size: 587px;
}

.site-main .main-wrapper {
    width: 490px;
}

hr {
    margin-top: 170px;
    color: #333333;
}
/* MAIN STYLES END */

/* SECTION STARTS features-section */
.features-section {
    padding: 70px 0;
}

.features-section .features-section__wrapper {
    display: flex;
    justify-content: space-between;
}

.features-section .features-section__wrapper .features-section__wrapper-feature {
    width: 280px;
}

.features-section .features-section__wrapper .features-section__wrapper-feature .learn-more a {
    color: #EA625C;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: var(--font-weightPrimary);
    line-height: 160%;
    text-transform: uppercase;
    margin-left: 10px;
}

.features-section .features-section__wrapper .features-section__wrapper-feature .learn-more {
    display: flex;
    align-items: center;
}
/* SECTION END features-section */

/* SECTION STARTING info section */
.info-section {
    padding: 70px 0;
}

.info-section .info-section__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-section .info-section__wrapper .info-section__wrapper-content {
    width: 490px;
}
/* SECTION END info section */

/* SECTION STARTING health control */
.health-control {
    /* width: 100%; */
    padding: 240px 0;
    background-image: url(../images/runners.jpg);
    background-repeat: no-repeat;
    background-position: top-right;
    background-size: cover;
}

.health-control .health-control__wrapper .health-control__wrapper-content {
    width: 490px;
    margin-left: 510px;
}

.health-control .health-control__wrapper .health-control__wrapper-content .intro-heading, 
.health-control .health-control__wrapper .health-control__wrapper-content .description {
    color: #FFF;
}
/* SECTION END health control */